html, body {
    padding: 0;
    margin: 0;
} 

html {
	height: 100%;
}

body {
	height: 100%;
	min-width: 1200px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header */
header {
	display:block;
	height: 160px;
	background-color:#272727;
	color: #f3f3f3;
}
header#header > div#container {
	background: url("../images/train4.png") no-repeat;	
	background-position: 750px 0px;
	height: 160px;
}
div#container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-width: 1200px;
	max-width: 1400px;
}
header#header > div#container > div#logo {
	background: url("../images/logo.png") no-repeat;	
	background-position: 80px -30px;
	width: 400px;
	height: 40px;
	padding: 100px 0 0 180px;
	font-size: 0.8em;
	display: block;	
	float: left;
}

header#header > div#container > div#login {
	padding-right:140px;
	display:inline-block;	
	float:right;
}

header#header > div#container > div#login ul li{
	padding-left: 10px;
	list-style-type:none;
	display:inline-block;	
}

header#header > div#container > div#language {
	clear: right;
	display:inline-block;	
	float:right;
	padding-top: 30px;
	padding-right:40px;
	height: 70px;
}

header#header > div#container > div#social {
   display: inline-block;
   float: right;
   padding-right: 40px;
   padding-top: 20px;
}
header#header > div#container > div#social ul{
   list-style-type:none;
   display:inline-block;	
}
header#header > div#container > div#social ul li{
   display:inline-block;	
}
span.icon {
	width: 40px;
	height: 40px;
	display: inline-block;
}
.icon {
	padding-right: 4px;
	width: 40px;
	height: 40px;
}
.fb_icon {
	background: url("../images/fb.png") no-repeat;	
	background-size: 40px 40px;
	opacity: 0.7;
}
.vk_icon {
	background: url("../images/vk.png") no-repeat;	
	background-size: 40px 40px;
	opacity: 0.7;
}
.rss_icon {
	background: url("../images/rss.png") no-repeat;	
	background-size: 40px 40px;
	opacity: 0.7;
}
.fb_icon:hover,.vk_icon:hover,.rss_icon:hover {
	opacity: 1.0;
}

header#header > div#container div#login a {
	color: #e3e3e3;
}

header#header > div#container div#login a:hover {
	color: #359BED;
}
header#header > div#container div#language a {
	color: #e3e3e3;
}

header#header > div#container div#language a:hover {
	color: #359BED;
}

nav {
        background: none repeat scroll 0 0 #434343;
	height:44px;       
}

/* Context */
section {
	margin-top: 10px;
	float: left;
	width:840px;
	margin-left: 140px;
}
@media screen and (max-width: 1280px) {
    aside {
        display: none !important;
    }
}
aside {
	float: right;
	width: auto;
	margin-right: 60px;
	z-index: -99;
}
.widget {
	margin-top: 40px;
	margin-bottom: 40px;
}

section#content {
	padding: 40px 40px 100px 40px;
	width:840px;
	min-height:400px;
    	background-color: #F5F5F5;
    	border-radius: 4px;
    	margin-bottom: 20px;
}

/* Footer */
footer {
	clear: both;
	margin-top: 50px;
        font-size: 0.8em;
        color: #777777;
        margin-left:auto;
        margin-right:auto;
	height: 230px;
}
footer ul li{
	list-style-type: none;
	padding-bottom: 8px;
}
span.github_icon {
	width: 40px;
	height: 40px;
	display: inline-block;
}
span.ss_icon {
	width: 40px;
	height: 40px;
	display: inline-block;
}

.ss_icon {
	padding-right: 4px;
	background: url("../images/softserve_logo.png") no-repeat;
	background-size: 40px 40px;
	font-size: 1.25em;
	width: 40px;
	height: 40px;
	opacity: 0.7;
	vertical-align: middle;
	margin-left: -24px;
}
.ss_icon:hover {
	background: url("../images/softserve_logo.png") no-repeat;
	background-size: 40px 40px;
	opacity: 1.0;
	width: 40px;
	height: 40px;
}
.github_icon {
	padding-right: 4px;
	background: url("../images/github_black.png") no-repeat;
	background-size: 40px 40px;
	font-size: 1.25em;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	margin-left: -24px;
}
.github_icon:hover {
	background: url("../images/github_white.png") no-repeat;
	background-size: 40px 40px;
	opacity: 0.7;
	width: 40px;
	height: 40px;
}

#footer_col {
	padding-left: 100px;
	display: block;
	float: left;
}
.footer_col_title {
	font-size: 1.75em;
	line-height: 1em;
	color: #ffe;
	font-weight: 800;
}
#footer_primary {
        padding: 0;
        margin: 0;
	height: 140px;
        background-color: #333333;
        padding: 30px 0;
}
#footer_secondary {
	height: 40px;
	background-color: #232323;
	color: #837E76;
	font-size: 0.9em;
	padding: 30px 0 10px 0;
}
#footer_secondary #footer_first_col {
	clear: both;
	padding-left: 100px;
	float: left;
}

#footer_secondary #footer_second_col {
	float: right;
	padding-right: 200px;
}
