html, body {
    padding: 0;
    margin: 0;
} 

html {
	height: 100%;
}

body {
	height: 100%;
	min-width: 980px;
	max-width: 1400px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header */
header {
	display:block;
	height: 140px;
	background-color:#272727;
	color: #f3f3f3;
}

header > div#logo {
	padding: 40px 0 0 180px;
	display: block;	
	float: left;
}

header > div#login {
	padding-right:140px;
	display:inline-block;	
	float:right;
}

header > div#login ul li{
	padding-left: 10px;
	list-style-type:none;
	display:inline-block;	
}

header > div#language {
	clear: right;
	display:inline-block;	
	float:right;
	padding-right:40px;
}

header div#login a {
	color: #e3e3e3;
}

header div#login a:hover {
	color: #359BED;
}
header div#language a {
	color: #e3e3e3;
}

header div#language a:hover {
	color: #359BED;
}

nav {
	background-color:#272727;
	height:44px;       
}

/* Context */
section#content {
        margin-left:auto;
        margin-right:auto;
	padding: 40px 40px 100px 40px;
	width:940px;
	min-height:400px;
	background-color: #fff;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); 
}

/* Footer */
footer {
        font-size: 0.7em;
        color: #777777;
        margin-left:auto;
        margin-right:auto;
	padding:20px;
	width:980px;
	height: 40px;
}
