.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    margin-left: 110px;
    font-size: 1em;
    line-height: 44px;
    height: 44px;
    width: 970px;
    background-color: #333;
    border-left: 3px solid rgba(0, 0, 0, 0);
    color: #fff;
    display: block;
    padding: 0 25px;
    text-decoration: none;
}
.menu li {
    padding: 0 25px;
    min-width: 140px;
    z-index: 120;
}
.menu > li {
    display: block;
    float: left;
    position: relative;
}

.menu li:hover {
    background: none repeat scroll 0 0 #11ABB0;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

.menu a {
    color: #fff;
    display: block;
    text-decoration: none;
}

/* submenu styles */
.submenu a {
    color: #000;
}
.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;
}
.submenu li {
    min-width: 180px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    display: none;
    opacity: 0;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    display: block;
    opacity: 1;
}

